<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Lilita+One&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <img src="static/images/eror/background.svg" alt="">
    <section>
        <div class="sect-p">отчёт об ошибке</div>
        <div class="error-code">
            код ошибки - 'num'
        </div>
        <div class="error-message">
            <img src="/static/images/eror/green_bird.svg" alt="">
            <p>сообщение - 'str'</p>
        </div>
        <button class="exit-btn"><a href="/main">выйти</a></button>
    </section>
    <link rel="stylesheet" href="/static/css/error.css">
</body>
</html>

