<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>
    <section class="main-scroll-container">
        <section class="background"></section>
        <section class="your-friends">
            <button class="your-profile-btn"></button>
            <button class="exit-btn"></button>
            <h2>ДРУЗЬЯ</h2>
            <div class="scroll-container" id="friends">
                <div class="scroll-elem"></div>
            </div>
        </section>
        <section class="search-friends">
            <h1> ТВОИ<s> ПОЧТИ</s> ДРУЗЬЯ</h1>
            <p class="first-txt">-ЕСЛИ ТЕБЕ КАЖЕТСЯ, ЧТО У ТЕБЯ ЕСТЬ ДРУЗЬЯ</p>
            <p class="second-txt">-ПОВЕРЬ ТЕБЕ ПРОСТО КАЖЕТСЯ</p>
            <form action="" class="" method="get">
                <input type="text" id="input_str" name="search-friends" placeholder="ПОИСК">
                <button class="search" id="search_btn"><img src="/static/images/friends/search.svg" alt=""></button>
            </form>
            <div class="scroll-container" id="users">
                <div class="scrol-elem"></div>
            </div>
        </section>
        <section class="responses">
            <section class="recipient">
                <h2>ЗАПРОСЫ В ДРУЗЬЯ</h2>
                <div class="scroll-container" id="in-your">
                    <div class="scroll-elem"></div>
                </div>
            </section>
            <section class="sender">
                <h2>ТВОИ ЗАПРОСЫ В ДРУЗЬЯ</h2>
                <div class="scroll-container" id="from-your">
                    <div class="scroll-elem"></div>
                </div>
            </section>
        </section>
    </section>
</body>
</html>