<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Lilita+One&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <img src="static/images/registration/grey_left_bird.svg" alt="" class="bird-grey-1">
    <img src="static/images/registration/grey_right_bird.svg" alt="" class="bird-grey-2">
    <section class="background">
        <a><img src="static/images/registration/arrow-left.svg" alt="" class="arrow"></a>
        <div class="title_flex">
            <h2 class="first_title_h2">Залетай</h2>
            <h1>GOSSCHATTER</h1>
            <h2 class="last_title_h2">Почирикаем</h2>
        </div>
        <form action="" class="reigistration", method="get" id="registration">
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Пароль">
        </form>
        <button form="registration" id="button_form">Зарегистироваться</button>
    </section>
    <link rel="stylesheet" href="static/css/loginandregr.css">
</body>
</html>