<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Lilita+One&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <img src="static/images/registration/grey_left_bird.svg" alt="" class="bird-grey-1">
    <section>
        <div class="background">
            <div class="header_flex">
                <div class="flex_1">
                    <h2 class="first_title_h2">Залетай</h2>
                    <a href="/main"><img src="static/images/registration/arrow-left.svg" alt="" class="arrow"></a>
                </div>
                <h1>GOSSCHATTER</h1>
                <h2 class="last_title_h2">Почирикаем</h2>
            </div>
            <form action="" class="reigistration" , method="get" id="registration">
                <input type="text" name="email" placeholder="Почта" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <input type="password" name="password" placeholder="Пароль" required>
            </form>
            <div class="flex_buttons">
                <button><a href="/registration">Регистрация</a></button>
                <button form="registration"><a href="">Вход</a></button>
            </div>
        </div>
    </section>
    <img src="static/images/registration/grey_right_bird.svg" alt="" class="bird-grey-2">
    <link rel="stylesheet" href="static/css/login.css">
</body>
</html>