<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>
    <section class="forward">
        <div class="flex_title_with_birds">
            <img class="birds" src="static/images/main/grey_bird_right_main.svg" alt="this placed bird"></img>
            <div class="flex_title">
                <h2>первый с обратной стороны мессенджер</h2>
                <h1>GOSSCHATTER</h1>
                <h2>Долго, небезопасно, но с кайфом</h2>
            </div>
            <img class="birds" src="static/images/main/grey_bird_left_main.svg" alt="this placed bird"></img>
        </div>
        <div class="log">
            <a href="/login">ВОЙТИ</a>
            <p>В МИР СПЛЕТЕН, ГДЕ СПЛЕТНЯ — СТРОГО НЕОПРАВЕРЖИМАЯ ИСТИНА</p>
            <p id="text">СДЕЛАННО ШКОЛЬНИКОМ НИКОМУ НЕ ДОВЕРЯЙТЕ!</p>
        </div>
        <div class="img"><img src="/static/images/main/backround/grey_arc.svg" alt=""></div>
    </section>
    <link rel="stylesheet" href="static/css/main.css">
</body>
</html>