<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>
    <section class="background">
        <img src="static/images/messages/bird_back.svg" alt="">
    </section>
    <section class="message-frame">
        <div class="message-frame__header">
            <div class="avatar"><p class="name"></p></div>
            <p class="back-header">GOSSCHATTER</p>
            <p class="forward-header">ТВОИ СООБЩЕНИЯ</p>
            <img src="" alt="" onclick="">
        </div>
        <div class="message-frame__scroll-chats" id="chats">
            <form action="message.html" method="post" id="search">
                <input type="text">
                <button class="search__btn"></button>
            </form>
            <div id="scroll-chats-container" class="scroll-chats-container"></div>
        </div>
        <div class="message-frame__scroll-messages">
            <div class="scroll-messages-container" id="scroll-messages-container"></div>
            <form action="" class="send-messages-form">
                <input type="text" placeholder="Поиск">
                <button class="send-form__btn"><img src="" alt=""></button>
            </form>
        </div>
    </section>
    <link rel="stylesheet" href="static/css/messages.css">
    <script src="/static/js/message.js"></script>
</body>
</html>