<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>
    <img src="/static/images/profile/background.svg" alt="конь в пальто" class="background" oncontextmenu="return false;">
    <section class="forward">
        <div class="logo"><img src="/static/images/profile/title.svg" alt=""></div>
        <div class="wild-flex">
            <form action="" class="data" method="get" id="user_form">
                <input type="text" name="first_name" placeholder="Имя" required>
                <input type="text" name="last_name" placeholder="Фамилия" required>
                <input type="text" name="email" placeholder="Почта" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <input type="date" name="birth_date" placeholder="Дата Рождения" required>
                <textarea maxlength="300"  type="text"  class="about" name="about" placeholder="О себе"></textarea>
            </form>
            <div class="flex_buttons">
                <div class="photo-of-profile">
                    <img src="" alt="" id="photo-of-profile">
                    <div><a href="/users/friends">ДРУЗЬЯ</a></div>
                </div>
                <div id="file_input">
                    <input type="file" name="photo_of_profile" id="file_selector" onchange="update_avatar(event)" style="display: none">
                    <label onclick="document.getElementById('file_selector').click()" style="cursor: pointer">СМЕНИТЬ ФОТО ПРОФИЛЯ</label>
                </div>
                <button><a href="/chat">СООБЩЕНИЯ</a></button>
                <button><a href="">ИЗМЕНИТЬ ПАРОЛЬ</a></button>
                <button><a href="">ОТМЕНИТЬ</a></button>
                <button id="button_form">ПРИНЯТЬ</button>
            </div>
        </div>
    </section>
    <link rel="stylesheet" href="/static/css/profile.css">
    <script src="/static/js/profile.js"></script>
</body>
</html>