<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Lilita+One&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <img src="static/images/registration/grey_left_bird.svg" alt="" class="bird-grey-1">
    <img src="/static/images/registration/background.svg" alt="" id="background">
    <section>
        <div class="background">
            <div class="header_flex">
                <div class="flex_1">
                    <h2 class="first_title_h2">Залетай</h2>
                    <a href="/"><img src="static/images/registration/arrow-left.svg" alt="" class="arrow"></a>
                </div>
                <h1>GO<span>SS</span>CHA<span>TT</span>ER</h1>
                <h2 class="last_title_h2">Почирикаем</h2>
            </div>
            <form action="" class="reigistration" method="get" id="registration" enctype="multipart/form-data">
                <input type="text" name="first_name" placeholder="Имя" required>
                <input type="text" name="last_name" placeholder="Фамилия" required>
                <input type="email" name="email" placeholder="Почта" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <input type="date" name="birth_date" placeholder="Дата рождения" required>
                <input type="password" name="password" placeholder="Пароль" required>
                <input type="password" name="repeat_password" placeholder="Повторите пароль" required>
                <label class="input-file">
                    <input type="file" name="photo_of_profile">
                    <span><p>Выберите фото профиля</p></span>
                </label>
            </form>
            <button form="registration" id="button_form"><a href="/login">Зарегистироваться</a></button>
        </div>
    </section>
    <img src="static/images/registration/grey_right_bird.svg" alt="" class="bird-grey-2">
    <link rel="stylesheet" href="static/css/registaration.css">
    <script src="static/js/registration.js"></script>
</body>
</html>