* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(228, 219, 196);
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 28px;
}

h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    color: rgb(170, 150, 100);
    letter-spacing: 5px;
}

h1 span {
    color: rgb(179, 169, 145);
    letter-spacing: 5px;
}

h2 {
    color: rgb(170, 150, 100);
}

.bird-grey-1 {
    position: fixed;
    right: 0px;
    top: 0px;
}

.bird-grey-2 {
    position: fixed;
    left: 0px;
    bottom: 0px;
}

/*секция начало*/
.background {
    margin-top: 165px;
    height: max-content;
    width: 680px;
    background-color: none !important;
    padding: 5.5%;
    z-index: 0;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.header_flex {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: max-content;
}

.header_flex .flex_1 {
    display: flex;
    width: max-content;
    gap : 290px;
}

.header_flex h2 {
    align-self: flex-end;
}

.flex_1 {
    display: flex;
    gap: 50px;
}

.arrow {
    display: block;
    align-self: flex-end;
    padding-left: 100px;
}

#login {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#login input {
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 50px;
    color: white;
    letter-spacing: 3px;
    padding-left: 30px;
    font-size: 25px;
    font-weight: 400;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: rgb(72, 72, 72);
    outline: none;
}

#login input::placeholder {
    outline: none;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    color: rgb(255, 255, 255);
}

#login input:focus {
    outline: none;
    font-family: "LXGW WenKai Mono TC", monospace;
    border: 0px !important;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    color: rgb(255, 255, 255);
    border: solid 0px black !important;
}

button {
    width: 100%;
    min-height: 50px;
    height: 20px;
    text-align: center;
    border: 3px solid rgb(72, 72, 72);
    background-color: rgb(81, 81, 81);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 35px;
}

button a {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

button:hover {
    border: none;
    background-color: rgb(72, 72, 72) !important;
    color: white;
}

input[type='date'] {
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding-left: 30px;
}

input[type='date']::placeholder {
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding-right: 30px;
    padding-left: 30px;
}

.flex_buttons {
    display: flex;
    gap: 70px;
    justify-content: space-between;
}
/*конец секции*/
/* Background image formate*/
#background {
    position: absolute;
    top: 0px;
    z-index: -1;
    width: max-content;
    height: max-content;
}